@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  @apply bg-skin-base text-skin-base font-young;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 100vh;
}

img{ 
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  @apply w-fit;
}

h1
{
  @apply text-5xl lg:text-6xl ;
}
h2
{
  @apply text-4xl lg:text-5xl;
}
h3
{
  @apply text-3xl lg:text-4xl;
}
h4
{
  @apply text-2xl lg:text-3xl;
}
h5
{
  @apply text-xl lg:text-2xl;
}
h6
{
  @apply text-lg lg:text-xl;
}

button{
  @apply flex gap-2 justify-center items-center bg-button-base hover:bg-button-hover px-4 py-2 rounded-md hover:transform hover:scale-110 transition-all duration-75 ease-in-out lg:text-lg;
}

#logo{
  text-shadow: var(--text-glow) 0px 0px 45px;
}
 
@layer base {
  * {
    @apply border-border;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --background-color: #050209;
    --text-color: #efe7f5;
    --text-glow: #6524cd;
    --text-muted: #efe7f5;
    --text-theme-switch: var(--text-color);
    --button-color: #6524cd;
    --button-hover-color: #6f3c8e;
    --button-text-color: #efe7f5;
    --card-color: #190933;
    --card-shadow: #9255b8;
  }

  .vesper{
    --background-color: #101010;
    --text-color: #FFFFE9;
    --text-glow: #FFC278;
    --text-muted: #938E8D;
    --text-theme-switch: var(--background-color);
    --button-color: #FFC278;
    --button-hover-color: #f1bf81;
    --button-text-color: #101010;
    --card-color: #1E1E1E;
    --card-shadow: #FFC278;
  }

  .solarized {
    --background-color: #002B36;
    --text-color: #268BD2;
    --text-glow: #B2C8D8;
    --text-muted: var(--text-glow);
    --text-theme-switch: var(--button-text-color);
    --button-color: #a83d0f;
    --button-hover-color: #a52060;
    --button-text-color: #fdf6e3;
    --card-color: #073642;
    --card-shadow: #b58900;
}

 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 83.1%;
  }
}
